<template name="manage_tasks">
    <div class="container">
        <h1 class="center">Manage Tasks</h1>
        <p>Here you can manage your tasks. This includes viewing your current tasks, adding in new tasks, edit current
            ones or deleting old ones.</p>
    </div>

    {{> currentTasks}}
</template>

<template name="currentTasks">

    <div class="container">
        <div class="row valign-wrapper">
            <div class="col s10">
                <h2>Current Tasks</h2>


            </div>

            <div class="col s2 valign right-align">
                <button id="addTask" class="btn-floating btn-large waves-effect waves-light"><i class="material-icons">add</i>
                </button>
            </div>
        </div>

        <!-- Disabled Switch -->
        <div class="switch">
            <label>
                Show Completed
                <input id="completedSwitch" type="checkbox">
                <span class="lever"></span>
                Hide Completed
            </label>
        </div>

        {{#if tasksExist}}
            <div>
                <table class="striped">
                    <thead>
                    <tr>
                        <th>Completed</th>
                        <th>Name</th>
                        <th>Type</th>
                        <th>Description</th>
                    </tr>
                    </thead>

                    <tbody>
                    {{#each tasks}}
                        {{> task}}
                    {{/each}}

                    </tbody>
                </table>
            </div>
        {{else}}
            <div class="row">
                <div class="col s12">
                    <div class="card-panel cyan">
                        <span class="white-text">Could not find any tasks. Try adding some tasks by clicking the add button or showing the uncompleted tasks with the switch above</span>
                    </div>
                </div>
            </div>
        {{/if}}

    </div>

    <div id="updateRecordModal" class="modal">
        <div class="modal-content">
            <h4>Update Task</h4>
            {{#autoForm collection="Tasks" id="updateTasksForm" doc=findDoc type=mode}}
                {{> tasksForm}}
            {{/autoForm}}
        </div>
    </div>


</template>

<template name="task">
    <tr>
        <td><input type="checkbox" class="markCompleted" checked="{{completed}}" id="{{_id}}"/>
            <label for="{{_id}}"></label></td>
        <td class="select">{{name}}</td>
        <td class="select">{{type}}</td>
        <td class="select">{{description}}</td>
        <td>
            <button class="delete btn waves-effect waves-light"><i class="material-icons">delete</i></button>
        </td>
        <td>
            <button class="update btn waves-effect waves-light"><i class="material-icons">mode_edit</i></button>
        </td>
    </tr>
</template>

<template name="tasksForm">
    <fieldset class="no-border">
        <div class="">
            <div class="row">
                <div class="col s6">
                    {{> afQuickField name="name"}}
                </div>
                <div class="col s6">
                    {{> afQuickField name="type" firstOption="Select a timer type"}}
                </div>
            </div>
            <div class="row">
                {{#if afFieldValueIs name="type" value="COUNTDOWN"}}
                    <div class="col s2">
                        {{> afQuickField name="hours"}}
                    </div>
                    <div class="col s2">
                        {{> afQuickField name="minutes"}}
                    </div>
                    <div class="col s2">
                        {{> afQuickField name="seconds"}}
                    </div>
                {{/if}}
                {{#if afFieldValueIs name="type" value="POMODORO"}}
                    <div class="col s4">
                        {{> afQuickField name="estimatedPomodoros"}}
                    </div>
                {{/if}}

                <div class="col s6">
                    {{> afQuickField name="description" type="textarea"}}
                </div>
                <div class="col s2 valign-wrapper right-align">
                    <button type="submit" class="btn-floating btn-large waves-effect waves-light valign"><i
                            class="material-icons">add</i></button>
                </div>
            </div>
        </div>
    </fieldset>
</template>